<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-black flex items-center justify-center text-white">
        <div class="">
            <h1 class="text-white text-3xl font-semibold pb-2 border-b border-b-white">Register</h1>
            <form method="post" action="/register" class="flex flex-col gap-2 py-4">
                <input type="text" class="bg-zinc-900 w-[25vw] px-4 pt-2 pb-2 outline-none capitalize rounded-lg" placeholder="username" name="username">
                <input type="text" class="bg-zinc-900 w-[25vw] px-4 pt-2 pb-2 outline-none capitalize rounded-lg" placeholder="name" name="name">
                <input type="email" class="bg-zinc-900 w-[25vw] px-4 pt-2 pb-2 outline-none capitalize rounded-lg" placeholder="email" name="email">
                <input type="password" class="bg-zinc-900 w-[25vw] px-4 pt-2 pb-2 outline-none capitalize rounded-lg" placeholder="password" name="password">
                <input type="number" class="bg-zinc-900 w-[25vw] px-4 pt-2 pb-2 outline-none capitalize rounded-lg" placeholder="age" name="age">
                <input type="submit" class="bg-blue-600 text-white font-semibold w-[25vw] px-4 pt-2 pb-2 rounded-lg" value="Register">
            </form>
        </div>
    </div>
</body>
</html>